@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="padding-left:10em">
    <h4>Employee Registration</h4>
    <hr>
</div>
<div class="align-items-baseline" style="padding-left:24em">
    <a asp-controller="Employee" asp-action="CreateEmployee">
        Create Employee
    </a>
    <br />
    <a  asp-action="ViewRecords">
        View Employees
    </a>
    <br />
</div>



